@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.codex-editor {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.editor-wrap {
  width: 1000px;
  padding: 15px;
}

@media (max-width: 600px) {
  .editor-wrap {
    width: 350px;
  }
}


.rmd-text-field-container--outline::after {
  box-shadow: 0 0 0 2px #6366f1 !important;
}

.rmd-floating-label {
  --rmd-form-active-color: #6366f1 !important;
  /* background-color: whitesmoke !important; */
}

.links a:hover {
  transition-duration: 0.2s;
  color:#6366f1;
}